{% extends "base.html" %} {% block title %} Followers {% endblock title %} {% block
    css %}
    <style>
        .underline {
            border-bottom: 2px solid black;
        }
        .comment-pic {
            border-radius: 50%;
            height: 51px;
            width: 51px;
        }
        .list-group-item:hover {
            background-color: lightgray;
        }
    </style>
    {% endblock css %} {% block body %}
    <h3 class="fw-bold mt-4 px-5">{{ user.uname }}'s followers</h3>
    <div class="p-5 py-2">
        <form
            class="d-flex justify-content-center"
            role="search"
            method="post"
            action="{{ url_for('followers', username=user.uname) }}"
        >
            <input
                class="form-control me-2 w-50"
                type="search"
                placeholder="Search"
                name="query"
                value="{{ query }}"
            />
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
    <div class="p-5 mx-5 py-4">
        <ul class="list-group">
            {% for user in users %}
            <li class="list-group-item">
                <div class="row py-2">
                    <div class="col col-1">
                        <a href="{{ url_for('profile', username=user.uname) }}">
                            <img
                                src="{{ url_for('static', filename='images/' + user.pro_pic) }}"
                                alt="pro-pic"
                                height=""
                                width=""
                                class="comment-pic"
                            />
                        </a>
                    </div>
                    <a class="col col-9 my-auto" href="{{ url_for('profile', username=user.uname) }}">
                        <p class="m-0">{{ user.uname }}</p>
                    </a>
                    <div class="col col-2 my-auto p-0 pe-2">
                        <form
                            action="{{ url_for('connection', username=user.uname) }}"
                        >
                            <button type="submit" class="btn btn-outline-dark w-100">
                                {% if current_user.is_authenticated and current_user.following(user) %} Unfollow {% else %}
                                Follow {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </li>
            {% else %}
            <p class="text-center m-5">No results found!</p>
            {% endfor %}
        </ul>
    </div>
    {% endblock body %}
    