{% extends "base.html" %} {% block title %} Welcome {% endblock title %} {%
block css %}
<style>
    .nav-home-text {
        font-weight: bold;
    }
</style>
{% endblock css %} {% block body %}
<h3 class="fw-bold mt-4 px-5">Feed</h3>
<div class="row row-cols-3 p-5 py-2">
    {% for post in posts %}
    <div class="col mb-4">
        <a href="/post/{{ post.pid }}">
            <div class="card h-100 p-3">
                {% if post.images|length > 0 %}
                <img
                    src="{{ url_for('static', filename='images/' + post.images[0].url) }}"
                    class="card-img-top"
                    alt="post image"
                    height=""
                    width=""
                />
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description[:300] }} . . .</p>
                </div>
            </div>
        </a>
    </div>
    {% else %}
    <div class="text-center my-5 p-5 col-12">
        <h5>There are no posts in your feed</h5>
        <h5>Connect with other users to see what they are posting</h5>
    </div>
    {% endfor %}
</div>
{% endblock body %}
