{% extends "base.html" %} {% block title %} Welcome {% endblock title %} {%
block css %}
<style>
    .container-xxl {
        position: relative;
    }
    .home-text {
        position: absolute;
        bottom: 2.75vw;
        padding-left: 2.5vw;
    }

    .home-text h1 {
        font-family: "Inika-Bold";
        font-size: 2.5vw;
    }

    .home-text h2 {
        font-family: "Inria-Serif";
        font-size: 2vw;
    }

    .home-text button {
        font-size: 1vw;
        margin-top: 1.5vw;
    }

    .nav-home-text {
        font-weight: bold;
    }

    @font-face {
        font-family: "Inika-Bold";
        src: url("/static/fonts/Inika-Bold.ttf");
    }

    @font-face {
        font-family: "Inria-Serif";
        src: url("/static/fonts/InriaSerif-Regular.ttf");
    }
</style>
{% endblock css %} {% block body %}
<img
    class="w-100 mt-2"
    src="{{ url_for('static', filename='images/home.png') }}"
    alt="home"
    width="20rem"
/>
<div class="home-text">
    <h1 class="fw-bold text-light">Express your views</h1>
    <h2 class="text-light">Build your own blog...</h2>
    <form action="{{ url_for('signup') }}">
        <button class="btn btn-outline-light" type="submit">
            Get Started
        </button>
    </form>
</div>
{% endblock body %}
